html, body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

    body.home-page {
        background-image: url("whiteCarMain.jpg");
    }

    body.parts-page {
        background-image: url("wmbCar.jpg");
    }
    body.forum-page {
        background-image: url(whiteCarMain2.jpg);
    }
    body.aboutus-page {
        background-image: url("whiteCarMain2.jpg");
    }

    .button-container, .buttoncontainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 50px;
    }

    button {
        padding: 16px 25px;
        font-size: 20px;
        border-radius: 150px;
        border: none;
        cursor: pointer;
        background-color: black;
        color: beige;
        transition:  transform 0.1s ease, box-shadow 0.1s ease;
        box-shadow: 0 4px 8px red;

    }
    button:hover {
        box-shadow: 0 0 12px 4px red;
    }

    button:active {
        transform: translate(4px, 4px);
        box-shadow: 0 2px 4px red;
    }

    .twitter-feed {
        position: fixed;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 300px;
        z-index: 1000;
    }
